a.warning {
    background-color: #fff1ee;
}

a.highlight {
    background-color: #fcfcfc;
}

.bulkactions.dropdown-menu {
    height: auto;
    max-height: 80%;
    overflow-x: hidden;
}

.bulkactions .dropdown-item {
     cursor: pointer;
 }